---

on:
  workflow_dispatch:
  push:
    branches: [ test ]

env:
  PROJECT: "myproj"
  ENV: "test"
  APP_NAME: "app"
  AWS_REGION: "us-east-2"

jobs:
  build:
    name: "Build"
    runs-on: [ "self-hosted", "lab-ecs", "test", "bastion" ]
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Setup AWS information"
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
      - name: "Login to Amazon ECR"
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          mask-password: true
      - name: "Build and push the image to Amazon ECR"
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          docker build -t $ECR_REGISTRY/$PROJECT-$ENV-$APP_NAME:latest .
          docker push $ECR_REGISTRY/$PROJECT-$ENV-$APP_NAME:latest

  deploy:
    name: "Deploy"
    needs: build
    runs-on: [ "self-hosted", "lab-ecs", "test", "bastion" ]
    steps:
      - name: "Rollout service on ECS Cluster"
        run: |
          aws ecs update-service --cluster $PROJECT-$ENV-cluster --service $APP_NAME --force-new-deployment

...
